@charset 'IBM866';
@font-face {
    font-family: 'webAgoraSansPro';
    font-weight: 900;
    font-style: normal;

    src: url('fonts/pfagorasanspro-black-webfont.woff');
}
@font-face {
    font-family: 'webAgoraSansPro';
    font-weight: 700;
    font-style: normal;

    src: url('fonts/pfagorasanspro-bold-webfont.woff');
}
@font-face {
    font-family: 'webAgoraSansPro';
    font-weight: 400;
    font-style: normal;

    src: url('fonts/pfagorasanspro-reg-webfont.woff');
}
@font-face {
    font-family: 'webAgoraSansPro';
    font-weight: 300;
    font-style: normal;

    src: url('fonts/pfagorasanspro-light-webfont.woff');
}
@font-face {
    font-family: 'webAgoraSansPro';
    font-weight: 100;
    font-style: normal;

    src: url('fonts/pfagorasanspro-thin-webfont.woff');
}
@font-face {
    font-family: 'webAgoraSansPro';
    font-weight: 100;
    font-style: italic;

    src: url('fonts/pfagorasanspro-thinital-webfont.woff');
}
.header__title:before, .logo:before, .for__item:before, .advantages__item--grey-right:before, .advantages__item--grey-left:before, .consultation__up, .fancybox-close
{
    display: inline-block;

    content: '';
    vertical-align: top;

    background: url(../images/icons.png);
}

.list, .menu, .how__list
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.clients__list, .manufacturers__images, .for__list, .jobs__line, .job__images
{
    text-align: justify;
}
.clients__list:after, .manufacturers__images:after, .for__list:after, .jobs__line:after, .job__images:after
{
    display: inline-block;

    width: 100%;
    height: 0;

    content: '';
}

/* ==========================================================================
 *  Browse Happy prompt
 * ========================================================================== */
.message
{
    padding: 10px;

    color: #333;
    border: 1px solid #ccc;
}

.browsehappy
{
    margin: 0 0;
    padding: 1em 0;

    text-align: center;

    color: #000;
    background: orange;
}

/* ==========================================================================
 * Оформление
 * ========================================================================== */
html
{
    font-family: 'webAgoraSansPro', sans-serif;
    font-size: 24px;
    font-weight: 100;

    min-width: 960px;

    color: #242733;
}

body
{
    padding-top: 48px;

    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
       -moz-text-size-adjust: none;
            text-size-adjust: none;
}

a
{
    color: inherit;
}

h2
{
    font-size: 60px;
    font-weight: 900;
    line-height: 72px;

    text-transform: uppercase;
}

.list
{
    padding-left: 60px;
}
.list__item
{
    line-height: 1.5;

    position: relative;

    margin-bottom: 25px;
    padding-left: 40px;
}
.list__item:before
{
    position: absolute;
    top: 10px;
    left: 0;

    display: inline-block;

    width: 12px;
    height: 12px;

    content: '';

    border-radius: 50%;
    background: #e9e9ea;
}
.list--yellow .list__item:before
{
    background: #ffd500;
}
.list--dark .list__item:before
{
    background: #242733;
}

/* ==========================================================================
 * Layout
 * ========================================================================== */
.l-wrap
{
    width: 960px;
    margin: auto;
    padding: 0 10px;
}

.l-hidden
{
    display: none;
}

.l-clearfix:before, .list:before, .menu:before, .how__list:before, .l-wrap:before, .jobs__item:before, .advantages__line:before,
.l-clearfix:after,
.list:after,
.menu:after,
.how__list:after,
.l-wrap:after,
.jobs__item:after,
.advantages__line:after
{
  /* 1 */
    display: table;

    content: ' ';
  /* 2 */
}

.l-clearfix:after, .list:after, .menu:after, .how__list:after, .l-wrap:after, .jobs__item:after, .advantages__line:after
{
    clear: both;
}

.l-clearfix, .list, .menu, .how__list, .l-wrap, .jobs__item, .advantages__line
{
    *zoom: 1;
}

/* ==========================================================================
 * Кнопки
 * ========================================================================== */
.i-button
{
    font-family: 'webAgoraSansPro', sans-serif;
    font-weight: 100;

    display: inline-block;

    width: 100%;

    text-align: center;
    text-decoration: none;

    border: 0;
    outline: none;
}
.i-button--callack
{
    font-size: 24px;
    font-weight: 400;

    padding: 6px 0;

    color: #242733;
    border: 2px solid #242733;
}
.i-button--callack:hover
{
    color: #fff;
    background: #242733;
}
.i-button--yellow
{
    font-size: 21px;

    margin-top: 0;
    padding: 26px 0 20px 0;

    text-transform: uppercase;

    color: #242733;
    border-top: 1px solid #fef270;
    border-bottom: 3px solid #805d03;
    background: #e8a804;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcc701), to(#e8a804));
    background: -webkit-linear-gradient(top, #fcc701 0%, #e8a804 100%);
    background:         linear-gradient(to bottom, #fcc701 0%, #e8a804 100%);
    -webkit-box-shadow: inset 0 -1px 0 0 #d9c262;
            box-shadow: inset 0 -1px 0 0 #d9c262;
}
.i-button--yellow:hover
{
    background: #fcc701;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcc701), to(#fbbf24));
    background: -webkit-linear-gradient(top, #fcc701 0%, #fbbf24 100%);
    background:         linear-gradient(to bottom, #fcc701 0%, #fbbf24 100%);
}
.i-button--yellow:active
{
    margin-top: 3px;

    border-bottom: 0;
    background: #fcc701;
    background: -webkit-gradient(linear, left top, left bottom, from(#e8a804), to(#fcc701));
    background: -webkit-linear-gradient(top, #e8a804 0%, #fcc701 100%);
    background:         linear-gradient(to bottom, #e8a804 0%, #fcc701 100%);
}
.i-button--yellow-small
{
    font-size: 18px;

    margin-top: 0;
    padding: 13px 0 9px 0;

    text-transform: uppercase;

    color: #242733;
    border-top: 1px solid #fef270;
    border-bottom: 2px solid #805d03;
    background: #e8a804;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcc701), to(#e8a804));
    background: -webkit-linear-gradient(top, #fcc701 0%, #e8a804 100%);
    background:         linear-gradient(to bottom, #fcc701 0%, #e8a804 100%);
    -webkit-box-shadow: inset 0 -1px 0 0 #d9c262;
            box-shadow: inset 0 -1px 0 0 #d9c262;
    text-shadow: 1px 1px 0 #fff;
}
.i-button--yellow-small:hover
{
    background: #fcc701;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcc701), to(#fbbf24));
    background: -webkit-linear-gradient(top, #fcc701 0%, #fbbf24 100%);
    background:         linear-gradient(to bottom, #fcc701 0%, #fbbf24 100%);
}
.i-button--yellow-small:active
{
    margin-top: 2px;

    border-bottom: 0;
    background: #fcc701;
    background: -webkit-gradient(linear, left top, left bottom, from(#e8a804), to(#fcc701));
    background: -webkit-linear-gradient(top, #e8a804 0%, #fcc701 100%);
    background:         linear-gradient(to bottom, #e8a804 0%, #fcc701 100%);
}
.i-button--black
{
    font-size: 18px;

    margin-top: 0;
    padding: 13px 0 9px 0;

    color: #fff;
    border-top: 1px solid #fef270;
    border-bottom: 2px solid #242733;
    background: #272a37;
    background: -webkit-gradient(linear, left top, left bottom, from(#35394c), to(#272a37));
    background: -webkit-linear-gradient(top, #35394c 0%, #272a37 100%);
    background:         linear-gradient(to bottom, #35394c 0%, #272a37 100%);
}
.i-button--black:hover
{
    background: #35394c;
    background: -webkit-gradient(linear, left top, left bottom, from(#35394c), to(#3c4155));
    background: -webkit-linear-gradient(top, #35394c 0%, #3c4155 100%);
    background:         linear-gradient(to bottom, #35394c 0%, #3c4155 100%);
}
.i-button--black:active
{
    margin-top: 2px;

    border-bottom: 0;
    background: #272a37;
    background: -webkit-gradient(linear, left top, left bottom, from(#272a37), to(#35394c));
    background: -webkit-linear-gradient(top, #272a37 0%, #35394c 100%);
    background:         linear-gradient(to bottom, #272a37 0%, #35394c 100%);
}

/* ==========================================================================
 * Формы
 * ========================================================================== */
.form__line
{
    position: relative;

    margin-bottom: 30px;
}
.form__line--inline
{
    float: left;

    width: 282px;
    margin: 0 20px 0 0;
}
.form__button
{
    max-width: 310px;
    margin-top: 35px;
}
.form__button--inline
{
    float: right;

    width: 282px;
    margin: 0;
}
.form__input
{
    font-family: 'webAgoraSansPro', sans-serif;
    font-weight: 100;

    width: 100%;
    padding: 26px 0 26px 40px;

    border: 1px solid #ccc;
    outline: none;
}
.form__input--error
{
    border-color: red;
}
.form label.error
{
    font-size: 18px;

    position: absolute;
    top: -13px;
    right: 0;

    margin-left: 0;
    padding: 5px;

    text-align: center;
    white-space: nowrap;

    color: #fff;
    border-radius: 5px;
    background: #000;
    background: rgba(0, 0, 0, .7);
}

/* ==========================================================================
 * Основные стили
 * ========================================================================== */
.main-menu
{
    position: fixed;
    z-index: 500;
    top: 0;
    right: 0;
    left: 0;

    color: #fff;
    background: #242733;
}

.menu
{
    font-size: 20px;
    font-weight: 300;
    line-height: 48px;
}
.menu__item
{
    float: left;
}
.menu__item--phone
{
    display: none;
}
.menu__href
{
    display: inline-block;

    padding: 0 16px;

    text-decoration: none;
}
.menu__href:hover, .menu__href--active
{
    background: #61636c;
}

/* ==========================================================================
 * header
 * ========================================================================== */
.header
{
    height: 734px;

    background: url(../images/header-bg.jpg) 50% 0 no-repeat;
}
.header__logo
{
    float: left;

    margin-top: 70px;
}
.header__phone
{
    float: right;

    margin-top: 45px;
}
.header__phone-number
{
    font-size: 24px;
    font-weight: 300;

    margin-bottom: 20px;

    letter-spacing: 1px;
}
.header__title
{
    position: relative;

    margin-top: 230px;
    margin-bottom: 45px;
}
.header__title:before
{
    position: absolute;
    bottom: -235px;
    left: 521px;

    width: 235px;
    height: 234px;

    background-position: -300px 0;
}
.header__text
{
    font-size: 24px;

    display: inline-block;

    margin-bottom: 30px;
    padding: 4px 8px;

    color: #fff;
    background: #242733;
}
.header__button
{
    width: 310px;
}

.logo
{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}
.logo:before
{
    width: 34px;
    height: 28px;
    margin-right: 5px;
    margin-bottom: 2px;

    vertical-align: middle;

    background-position: 0 0;
}
.logo--white
{
    color: #fff;
}
.logo--white:before
{
    background-position: -50px 0;
}

.header-title__line1
{
    font-size: 30px;
    font-weight: 700;

    display: block;

    text-transform: uppercase;

    color: #fff;
}
.header-title__line2
{
    font-size: 68px;
    font-weight: 900;
    line-height: 1;

    display: block;

    padding: 0 3px;

    color: #242733;
    background: #ffd500;
}
.header-title__line3
{
    font-size: 72px;
    font-weight: 900;
    line-height: 1;

    display: block;

    margin-top: 3px;
    padding: 0 3px;

    color: #fff;
    background: #242733;
}

/* ==========================================================================
 * clients
 * ========================================================================== */
.clients
{
    padding: 20px 0;

    border-bottom: 17px solid #f0f0f0;
}

/* ==========================================================================
 * which
 * ========================================================================== */
.which
{
    padding-bottom: 80px;
}
.which__list
{
    margin-bottom: 30px;
}
.which__manufacturers
{
    margin-bottom: 35px;
}

.manufacturers__title
{
    position: relative;

    margin-bottom: 25px;
    margin-left: 20px;
    padding: 2px 10px;

    background: #f6f6f6;
}
.manufacturers__title:before
{
    position: absolute;
    top: 0;
    left: -20px;

    width: 5px;
    height: 100%;

    content: '';

    background: #241a01;
}

/* ==========================================================================
 * what
 * ========================================================================== */
.what
{
    padding-bottom: 160px;

    color: #fff;
    background: url(../images/what-bg.jpg) 0 0 repeat;
}
.what__title
{
    margin-top: 113px;
}
.what__text
{
    margin-bottom: 60px;
}

/* ==========================================================================
 * for
 * ========================================================================== */
.for
{
    padding: 60px 0 100px;

    background: #ffd500;
}
.for__text
{
    margin-bottom: 55px;

    text-align: center;
}
.for__list
{
    margin: 0;
    padding: 0;

    letter-spacing: none;
}
.for__item
{
    font-size: 18px;
    line-height: 1;

    display: inline-block;

    width: 180px;
    height: 180px;

    text-align: center;
    vertical-align: top;
    text-transform: uppercase;

    border: 10px solid #242733;
    border-radius: 15px;
}
.for__item:before
{
    display: block;

    width: 100px;
    height: 100px;
    margin: 10px auto 0;
}
.for__item--1:before
{
    background-position: 0 -50px;
}
.for__item--2:before
{
    background-position: -100px -50px;
}
.for__item--3:before
{
    background-position: -200px -50px;
}
.for__item--4:before
{
    background-position: 0 -150px;
}
.for__item--5:before
{
    background-position: -100px -150px;
}

/* ==========================================================================
 * jobs
 * ========================================================================== */
.jobs__title
{
    font-size: 60px;
    line-height: 1;

    margin-bottom: 80px;
}
.jobs__subtitle
{
    font-size: 48px;

    display: block;

    margin-top: -9px;
    padding: 8px 0 8px 25px;

    background: #ffd500;
}
.jobs__item
{
    margin-bottom: 30px;
}
.jobs__half
{
    display: inline-block;

    width: 48%;

    text-align: left;
    vertical-align: top;
}

.job__title
{
    font-size: 30px;
    font-weight: 900;

    position: relative;

    margin: 0 0 30px 0;
    padding: 2px 15px;

    text-transform: uppercase;

    color: #fff;
    background: #242733;
}
.job__title-subline
{
    position: absolute;
    bottom: -32px;
    left: 15px;

    color: #242733;
}
.job__subtitle
{
    font-size: 24px;
    font-weight: 900;

    margin-bottom: 15px;
    padding: 0 20px;

    text-transform: uppercase;
}
.job__text
{
    margin-bottom: 40px;
    padding: 0 20px;
}
.job__text p
{
    margin-bottom: 10px;
}
.job__image
{
    display: inline-block;
}

/* ==========================================================================
 * diagnostic
 * ========================================================================== */
.diagnostic
{
    height: 734px;

    color: #fff;
    background: url(../images/diagnostic-bg.jpg) 50% 100% no-repeat;
}
.diagnostic__title
{
    margin-top: 110px;
    margin-bottom: 30px;
}
.diagnostic__subtitle
{
    font-size: 65px;

    display: block;

    margin-top: -12px;
    padding: 0 10px;

    color: #fff;
    background: #242733;
}
.diagnostic__text
{
    margin-bottom: 40px;
}
.diagnostic__form
{
    width: 420px;
}

/* ==========================================================================
 * advantages
 * ========================================================================== */
.advantages__title
{
    font-size: 56px;

    text-align: center;
}
.advantages__uptitle
{
    font-size: 105px;

    display: inline-block;

    height: 70px;
    margin-bottom: 40px;
    padding: 0 20px;

    color: #fff;
    background: #242733;
}
.advantages__line
{
    margin-bottom: 40px;
}
.advantages__item
{
    float: left;

    width: 50%;
    height: 264px;
    padding: 28px 0 0;
}
.advantages__item--grey-right, .advantages__item--grey-left
{
    position: relative;

    color: #fff;
    background: #1f2230;
}
.advantages__item--grey-right:before, .advantages__item--grey-left:before
{
    position: absolute;
    top: 0;
    left: -75px;

    width: 150px;
    height: 264px;

    background-position: -550px 0;
}
.advantages__item--grey-left:before
{
    right: -75px;
    left: auto;

    background-position: -700px 0;
}
.advantages__content
{
    width: 360px;
}
.advantages__content--right
{
    float: right;

    margin-right: 115px;
}
.advantages__content--left
{
    float: left;

    margin-left: 115px;
}
.advantages__name
{
    font-size: 36px;
    font-weight: 100;

    margin-bottom: 20px;

    text-transform: uppercase;
}
.advantages__text
{
    font-size: 18px;
    line-height: 27px;
}

/* ==========================================================================
 * guarantee
 * ========================================================================== */
.guarantee
{
    padding-bottom: 60px;

    color: #fff;
    background: #242733;
}
.guarantee__title
{
    font-size: 45px;
    line-height: 1;

    margin-top: 60px;
    margin-bottom: 24px;
    padding-left: 20px;
}
.guarantee__uptitle
{
    font-size: 60px;
    line-height: 40px;

    display: inline-block;

    height: 40px;
    margin-left: -20px;
    padding: 0 20px;

    color: #242733;
    background: #ffd500;
}
.guarantee__text
{
    margin-left: 20px;
}
.guarantee__text p
{
    padding-bottom: 10px;
}

/* ==========================================================================
 * prices
 * ========================================================================== */
.prices__hr
{
    height: 4px;

    border: none;
    background: #f0f0f0;
}
.prices__tab
{
    display: inline-block;

    margin-bottom: 15px;
    padding-bottom: 6px;

    text-decoration: none;
    text-transform: uppercase;

    border-bottom: 1px dashed #242733;
}
.prices__tab:first-child
{
    margin-right: 226px;
}
.prices__tab--active, .prices__tab:hover
{
    padding-bottom: 7px;

    border-bottom: none;
}
.prices__table
{
    margin-bottom: 70px;
}
.prices__table th
{
    font-weight: 100;

    padding: 15px 60px;

    text-align: left;

    border-bottom: 2px solid #f7f7f7;
}
.prices__table td
{
    padding: 15px 60px;
}
.prices__order
{
    margin-bottom: 75px;
}
.prices__text
{
    margin-bottom: 30px;
    padding-top: 10px;
}
.prices__list
{
    margin-bottom: 50px;
}

.prices-order
{
    overflow: hidden;

    padding: 13px 40px 13px 60px;

    color: #fff;
    background: #242733;
}
.prices-order__text
{
    float: left;

    width: 540px;
}
.prices-order__button
{
    float: right;

    width: 192px;
    margin-top: 7px;
}

/* ==========================================================================
 * how
 * ========================================================================== */
.how
{
    padding-bottom: 150px;

    background: #ffd500;
}
.how__title
{
    margin-top: 145px;
    margin-bottom: 80px;

    text-align: center;
}
.how__list
{
    display: block;

    padding-top: 117px;

    background: url(../images/icons.png);
    background-repeat: no-repeat;
    background-position: 0 -300px;
}
.how__item
{
    float: left;

    width: 156.5px;
}

.how-item
{
    width: 135px;
    margin: auto;

    text-align: center;
}
.how-item__title
{
    font-size: 16px;
    line-height: 50px;

    margin-bottom: 25px;

    text-transform: uppercase;

    color: #fff;
}
.how-item__title span
{
    line-height: 1.2;

    display: inline-block;

    vertical-align: middle;
}
.how-item__text
{
    font-size: 18px;
}

/* ==========================================================================
 * map
 * ========================================================================== */
.map
{
    height: 600px;
    padding-top: 220px;

    text-align: center;

    background: url(../images/map-bg.jpg) 50% 100% no-repeat;
}
.map__text
{
    display: inline-block;

    margin-bottom: 40px;
    padding: 9px 10px;

    text-transform: uppercase;

    color: #fff;
    background: #242733;
}
.map__text--phone
{
    font-size: 30px;

    margin-bottom: 5px;
    padding: 7px 30px;
}
.map__button
{
    width: 310px;
    margin: auto;
}

/* ==========================================================================
 * consultation
 * ========================================================================== */
.consultation
{
    height: 730px;

    background: url(../images/consultation-bg.jpg) 50% 100% no-repeat;
}
.consultation__title
{
    font-size: 65px;
    line-height: 1;

    margin-top: 100px;
    margin-bottom: 20px;

    text-indent: 20px;

    color: #fff;
    background: #242733;
}
.consultation__subtitle
{
    display: block;

    text-indent: 20px;

    color: #242733;
    background: #ffd500;
}
.consultation__text
{
    font-size: 30px;

    margin-bottom: 40px;
    padding: 5px 20px;

    text-transform: uppercase;

    color: #fff;
    background: #242733;
}
.consultation__form
{
    width: 470px;
}
.consultation__up
{
    display: block;

    width: 56px;
    height: 56px;
    margin: 10px auto 0;

    text-indent: -9999px;

    border-radius: 50%;
    background-color: rgba(255, 255, 255, .1);
    background-position: -100px 0;
}
.consultation__up:hover
{
    background-color: rgba(255, 255, 255, .3);
}

/* ==========================================================================
 * footer
 * ========================================================================== */
.footer
{
    padding: 30px 0 40px;

    color: #fff;
    background: #242733;
}
.footer__logo
{
    float: left;

    width: 25%;
    margin-top: 20px;
}
.footer__text
{
    font-size: 18px;

    float: left;

    width: 50%;

    text-align: center;
}
.footer__phone
{
    float: left;

    width: 25%;
    margin-top: 20px;

    text-align: right;
}

/* ==========================================================================
 * modal
 * ========================================================================== */
.modal
{
    display: none;

    width: 790px;
    padding: 50px 70px 70px;

    text-align: center;

    color: #fff;
    background: #242733;
}
.modal__text
{
    font-size: 30px;

    margin-bottom: 30px;
}
.modal__form
{
    width: 470px;
    margin: auto;
}
.modal__button
{
    margin-right: auto;
    margin-left: auto;
}

.fancybox-skin
{
    border-radius: 6px;
    background: transparent;
}

.fancybox-close
{
    position: absolute;
    z-index: 8040;
    top: 15px;
    right: 15px;

    width: 27px;
    height: 27px;

    cursor: pointer;

    background-position: -200px 0;
}

/* ==========================================================================
 * wide-bg
 * ========================================================================== */
@media only screen and (min-width: 1580px)
{
    .wide-bg
    {
        -webkit-background-size: 100% auto;
                background-size: 100% auto;
    }
}
.lt-ie9 h2
{
    font-size: 50px;
}
.lt-ie9 .header-title__line2
{
    font-size: 60px;
}
.lt-ie9 .header-title__line3
{
    font-size: 60px;
}
.lt-ie9 .diagnostic__subtitle
{
    font-size: 55px;
}
.lt-ie9 .advantages__name
{
    font-size: 30px;
}

/* @media only screen and (min-width: 740px){

  @import "_tablet" ;
} 
 */
/* @media only screen and (min-width: 900px){

  @import "_desktop";
}  */
