.i-button {
  font-family: 'webAgoraSansPro', sans-serif;
  font-weight: 100;
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border: 0;
  outline: none;
}
.i-button--callack {
  font-size: 24px;
  font-weight: 400;
  padding: 6px 0;
  color: #242733;
  border: 2px solid #242733;
}
.i-button--callack:hover {
  color: #fff;
  background: #242733;
}
.i-button--yellow {
  font-size: 21px;
  margin-top: 0;
  padding: 26px 0 20px 0;
  text-transform: uppercase;
  color: #242733;
  border-top: 1px solid #fef270;
  border-bottom: 3px solid #805d03;
  background: #e8a804;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcc701), to(#e8a804));
  background: -webkit-linear-gradient(top, #fcc701 0%, #e8a804 100%);
  background: linear-gradient(to bottom, #fcc701 0%, #e8a804 100%);
  -webkit-box-shadow: inset 0 -1px 0 0 #d9c262;
  box-shadow: inset 0 -1px 0 0 #d9c262;
}
.i-button--yellow:hover {
  background: #fcc701;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcc701), to(#fbbf24));
  background: -webkit-linear-gradient(top, #fcc701 0%, #fbbf24 100%);
  background: linear-gradient(to bottom, #fcc701 0%, #fbbf24 100%);
}
.i-button--yellow:active {
  margin-top: 3px;
  border-bottom: 0;
  background: #fcc701;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8a804), to(#fcc701));
  background: -webkit-linear-gradient(top, #e8a804 0%, #fcc701 100%);
  background: linear-gradient(to bottom, #e8a804 0%, #fcc701 100%);
}
.i-button--yellow-small {
  font-size: 18px;
  margin-top: 0;
  padding: 13px 0 9px 0;
  text-transform: uppercase;
  color: #242733;
  border-top: 1px solid #fef270;
  border-bottom: 2px solid #805d03;
  background: #e8a804;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcc701), to(#e8a804));
  background: -webkit-linear-gradient(top, #fcc701 0%, #e8a804 100%);
  background: linear-gradient(to bottom, #fcc701 0%, #e8a804 100%);
  -webkit-box-shadow: inset 0 -1px 0 0 #d9c262;
  box-shadow: inset 0 -1px 0 0 #d9c262;
  text-shadow: 1px 1px 0 #fff;
}
.i-button--yellow-small:hover {
  background: #fcc701;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcc701), to(#fbbf24));
  background: -webkit-linear-gradient(top, #fcc701 0%, #fbbf24 100%);
  background: linear-gradient(to bottom, #fcc701 0%, #fbbf24 100%);
}
.i-button--yellow-small:active {
  margin-top: 2px;
  border-bottom: 0;
  background: #fcc701;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8a804), to(#fcc701));
  background: -webkit-linear-gradient(top, #e8a804 0%, #fcc701 100%);
  background: linear-gradient(to bottom, #e8a804 0%, #fcc701 100%);
}
.i-button--black {
  font-size: 18px;
  margin-top: 0;
  padding: 13px 0 9px 0;
  color: #fff;
  border-top: 1px solid #fef270;
  border-bottom: 2px solid #242733;
  background: #272a37;
  background: -webkit-gradient(linear, left top, left bottom, from(#35394c), to(#272a37));
  background: -webkit-linear-gradient(top, #35394c 0%, #272a37 100%);
  background: linear-gradient(to bottom, #35394c 0%, #272a37 100%);
}
.i-button--black:hover {
  background: #35394c;
  background: -webkit-gradient(linear, left top, left bottom, from(#35394c), to(#3c4155));
  background: -webkit-linear-gradient(top, #35394c 0%, #3c4155 100%);
  background: linear-gradient(to bottom, #35394c 0%, #3c4155 100%);
}
.i-button--black:active {
  margin-top: 2px;
  border-bottom: 0;
  background: #272a37;
  background: -webkit-gradient(linear, left top, left bottom, from(#272a37), to(#35394c));
  background: -webkit-linear-gradient(top, #272a37 0%, #35394c 100%);
  background: linear-gradient(to bottom, #272a37 0%, #35394c 100%);
}
