
@font-face {
  font-family: 'webAgoraSansPro';
  font-weight: 900;
  font-style: normal;

  src: url('/fonts/pfagorasanspro-black-webfont.woff') format('woff');
}
@font-face {
  font-family: 'webAgoraSansPro';
  font-weight: 700;
  font-style: normal;

  src: url('/fonts/pfagorasanspro-bold-webfont.woff');
}
@font-face {
  font-family: 'webAgoraSansPro';
  font-weight: 400;
  font-style: normal;

  src: url('/fonts/pfagorasanspro-reg-webfont.woff');
}
@font-face {
  font-family: 'webAgoraSansPro';
  font-weight: 300;
  font-style: normal;

  src: url('/fonts/pfagorasanspro-light-webfont.woff');
}
@font-face {
  font-family: 'webAgoraSansPro';
  font-weight: 100;
  font-style: normal;

  src: url('/fonts/pfagorasanspro-thin-webfont.woff');
}
@font-face {
  font-family: 'webAgoraSansPro';
  font-weight: 100;
  font-style: italic;

  src: url('/fonts/pfagorasanspro-thinital-webfont.woff');
}