.form__line {
  position: relative;
  margin-bottom: 30px;
}
.form__line--inline {
  float: left;
  width: 282px;
  margin: 0 20px 0 0;
}
.form__button {
  max-width: 310px;
  margin-top: 35px;
}
.form__button--inline {
  float: right;
  width: 282px;
  margin: 0;
}
.form__input {
    font-family: 'webAgoraSansPro', sans-serif;
    font-weight: 100;
    width: 100%;
    padding: 16px 0 16px 16px;
    border: 1px solid #ccc;
    outline: none;
}
.form__input--error {
  border-color: #f00;
}
.form label.error {
  font-size: 18px;
  position: absolute;
  top: -13px;
  right: 0;
  margin-left: 0;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  border-radius: 5px;
  background: #000;
  background: rgba(0,0,0,0.7);
}
