.form__line
{
  position: relative;
  margin-bottom: 30px;
}
.form__line--inline
{
  float: left;
  width: 282px;
  margin: 0 20px 0 0;
}
.form__button
  margin-top: 35px;
  box-sizing: border-box;
  @media (min-width: 575px)
    max-width: 310px;

.form__button--inline
{
  float: right;
  width: 282px;
  margin: 0;
}

.form__input
  font-family: 'webAgoraSansPro', sans-serif;
  font-weight: 100;
  width: 100%;
  padding: 12px 0 12px 20px;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
  @media (min-width: 575px)
    padding: 26px 0 26px 40px;

.form__input--error
{
  border-color: red;
}

.form label.error
{
  font-size: 18px;
  position: absolute;
  bottom -30px;
  border: 1px solid red;
  border-top:none;
  right: 0;
  margin-left: 0;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
  color: red;
  border-radius: 5px;
  background: #000;
  background: rgba(0, 0, 0, .7);
  height 20px
}
.success__message
  margin-top 30px
  height 27px
