.lt-ie9 h2 {
  font-size: 50px;
}
.lt-ie9 .header-title__line2 {
  font-size: 60px;
}
.lt-ie9 .header-title__line3 {
  font-size: 60px;
}
.lt-ie9 .diagnostic__subtitle {
  font-size: 55px;
}
.lt-ie9 .advantages__name {
  font-size: 30px;
}
