@import "fonts"
@import "~normalize.css"
@import "button"
@import "form"
@import "modal"
@import "ie-style.styl"
@import "../Components/Pages/MainPage/mainPage"
@import "../Components/Pages/Main/nav";
@import "../Components/Pages/Main/footer";
@import "../Components/Pages/Price/price";
@import "../Components/Pages/What/what";
@import "../Components/Pages/Works/works";
@import "../Components/Pages/NotFound/notFound";

.logo,
.for__item
  &:before
    display: inline-block
    content: ''
    background-image: url(/images/icons.png)

.consultation__up,
.modal-close
  display: inline-block
  content: ''
  vertical-align: top
  background: url(/images/icons.png)

.list,
.how__list
  margin: 0;
  padding: 0;
  list-style: none;


.jobs__line,
.job__images
  &:after
    display: inline-block;
    width: 100%;
    height: 0;
    content: '';

html
  font-family: 'webAgoraSansPro', sans-serif;
  font-size: 24px;
  font-weight: 100;
  color: #242733;

.l-clearfix,
.list,
.menu,
.how__list,
.l-wrap,
.jobs__item,
.advantages__line
  &:before
    display: table;
    content: ' ';
  &:after
    display: table;
    content: ' ';
    clear: both;


.l-wrap
  margin: auto;
  padding: 0 10px;
  @media screen and (min-width 960px)
    width: 960px;

.l-hidden {
  display: none;
}

h2
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  @media screen and (min-width 775px)
    font-size: 45px;
    line-height: 72px;

.list__item
  line-height: 1.5;
  position: relative;
  margin-bottom: 25px;
  padding-left: 40px;
  text();
  &:before
    position: absolute;
    top: 10px;
    left: 0;
    display: inline-block;
    width: 12px;
    height: 12px;
    content: '';
    border-radius: 50%;
    background: #e9e9ea;


.list--yellow .list__item:before {
  background: #ffd500;
}

.list--dark .list__item:before {
  background: #242733;
}
