@font-face {
  font-family: 'webAgoraSansPro';
  font-weight: 900;
  font-style: normal;
  src: url("/fonts/pfagorasanspro-black-webfont.woff") format('woff');
}
@font-face {
  font-family: 'webAgoraSansPro';
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/pfagorasanspro-bold-webfont.woff");
}
@font-face {
  font-family: 'webAgoraSansPro';
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/pfagorasanspro-reg-webfont.woff");
}
@font-face {
  font-family: 'webAgoraSansPro';
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/pfagorasanspro-light-webfont.woff");
}
@font-face {
  font-family: 'webAgoraSansPro';
  font-weight: 100;
  font-style: normal;
  src: url("/fonts/pfagorasanspro-thin-webfont.woff");
}
@font-face {
  font-family: 'webAgoraSansPro';
  font-weight: 100;
  font-style: italic;
  src: url("/fonts/pfagorasanspro-thinital-webfont.woff");
}
@import "~normalize.css";
.i-button {
  font-family: 'webAgoraSansPro', sans-serif;
  font-weight: 400;
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border: 0;
  outline: none;
}
.i-button__callback {
  display: none;
  font-size: 24px;
  font-weight: 400;
  padding: 6px 0;
  border: 1px solid #242733;
  color: #242733;
  background: #e8a804;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcc701), to(#e8a804));
  background: -webkit-linear-gradient(top, #fcc701 0%, #e8a804 100%);
  background: linear-gradient(to bottom, #fcc701 0%, #e8a804 100%);
}
@media (min-width: 576px) {
  .i-button__callback {
    display: block;
  }
}
.i-button__callback:hover {
  opacity: 1;
  background: #fcc701;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcc701), to(#fbbf24));
  background: -webkit-linear-gradient(top, #fcc701 0%, #fbbf24 100%);
  background: linear-gradient(to bottom, #fcc701 0%, #fbbf24 100%);
}
.i-button--yellow {
  margin-top: 0;
  padding: 12px 0 12px 0;
  color: #242733;
  border-top: 1px solid #fef270;
  border-bottom: 3px solid #805d03;
  background: #e8a804;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcc701), to(#e8a804));
  background: -webkit-linear-gradient(top, #fcc701 0%, #e8a804 100%);
  background: linear-gradient(to bottom, #fcc701 0%, #e8a804 100%);
  -webkit-box-shadow: inset 0 -1px 0 0 #d9c262;
  box-shadow: inset 0 -1px 0 0 #d9c262;
  font-size: 18px;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .i-button--yellow {
    font-size: 24px;
  }
}
.i-button--yellow:hover {
  background: #fcc701;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcc701), to(#fbbf24));
  background: -webkit-linear-gradient(top, #fcc701 0%, #fbbf24 100%);
  background: linear-gradient(to bottom, #fcc701 0%, #fbbf24 100%);
}
.i-button--yellow:active {
  margin-top: 3px;
  border-bottom: 0;
  background: #fcc701;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8a804), to(#fcc701));
  background: -webkit-linear-gradient(top, #e8a804 0%, #fcc701 100%);
  background: linear-gradient(to bottom, #e8a804 0%, #fcc701 100%);
}
.i-button--yellow-small {
  font-size: 18px;
  margin-top: 0;
  padding: 13px 0 9px 0;
  color: #242733;
  border-top: 1px solid #fef270;
  border-bottom: 2px solid #805d03;
  background: #e8a804;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcc701), to(#e8a804));
  background: -webkit-linear-gradient(top, #fcc701 0%, #e8a804 100%);
  background: linear-gradient(to bottom, #fcc701 0%, #e8a804 100%);
  -webkit-box-shadow: inset 0 -1px 0 0 #d9c262;
  box-shadow: inset 0 -1px 0 0 #d9c262;
  text-shadow: 1px 1px 0 #fff;
}
.i-button--yellow-small:hover {
  background: #fcc701;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcc701), to(#fbbf24));
  background: -webkit-linear-gradient(top, #fcc701 0%, #fbbf24 100%);
  background: linear-gradient(to bottom, #fcc701 0%, #fbbf24 100%);
}
.i-button--yellow-small:active {
  margin-top: 2px;
  border-bottom: 0;
  background: #fcc701;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8a804), to(#fcc701));
  background: -webkit-linear-gradient(top, #e8a804 0%, #fcc701 100%);
  background: linear-gradient(to bottom, #e8a804 0%, #fcc701 100%);
}
.i-button--black {
  font-size: 18px;
  margin-top: 0;
  padding: 13px 0 9px 0;
  color: #fff;
  border-top: 1px solid #fef270;
  border-bottom: 2px solid #242733;
  background: #272a37;
  background: -webkit-gradient(linear, left top, left bottom, from(#35394c), to(#272a37));
  background: -webkit-linear-gradient(top, #35394c 0%, #272a37 100%);
  background: linear-gradient(to bottom, #35394c 0%, #272a37 100%);
}
.i-button--black:hover {
  background: #35394c;
  background: -webkit-gradient(linear, left top, left bottom, from(#35394c), to(#3c4155));
  background: -webkit-linear-gradient(top, #35394c 0%, #3c4155 100%);
  background: linear-gradient(to bottom, #35394c 0%, #3c4155 100%);
}
.i-button--black:active {
  margin-top: 2px;
  border-bottom: 0;
  background: #272a37;
  background: -webkit-gradient(linear, left top, left bottom, from(#272a37), to(#35394c));
  background: -webkit-linear-gradient(top, #272a37 0%, #35394c 100%);
  background: linear-gradient(to bottom, #272a37 0%, #35394c 100%);
}
.bread {
  margin-bottom: 30px;
  font-size: 18px;
}
@media (min-width: 768px) {
  .bread {
    font-size: 24px;
  }
}
.bread a {
  color: #fff;
}
.bread-current {
  color: #ffd500;
}
.form__line {
  position: relative;
  margin-bottom: 30px;
}
.form__line--inline {
  float: left;
  width: 282px;
  margin: 0 20px 0 0;
}
.form__button {
  margin-top: 35px;
  box-sizing: border-box;
}
@media (min-width: 575px) {
  .form__button {
    max-width: 310px;
  }
}
.form__button--inline {
  float: right;
  width: 282px;
  margin: 0;
}
.form__input {
  font-family: 'webAgoraSansPro', sans-serif;
  font-weight: 100;
  width: 100%;
  padding: 12px 0 12px 20px;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
}
@media (min-width: 575px) {
  .form__input {
    padding: 26px 0 26px 40px;
  }
}
.form__input--error {
  border-color: #f00;
}
.form label.error {
  font-size: 18px;
  position: absolute;
  bottom: -30px;
  border: 1px solid #f00;
  border-top: none;
  right: 0;
  margin-left: 0;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
  color: #f00;
  border-radius: 5px;
  background: #000;
  background: rgba(0,0,0,0.7);
  height: 20px;
}
.success__message {
  margin-top: 30px;
  height: 27px;
}
.ReactModal__Content--after-open {
  margin: 0 auto;
  padding: 0 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}
@media (min-width: 775px) {
  .ReactModal__Content--after-open {
    width: 790px;
    height: 500px;
    margin: 25px auto;
    top: 40px !important;
    left: 40px !important;
    right: 40px !important;
    bottom: 40px !important;
  }
}
.modal {
  padding: 45px 7px 5px;
  text-align: center;
  color: #fff;
  background: #242733;
  box-sizing: border-box;
  height: 100%;
}
@media (min-width: 775px) {
  .modal {
    width: 790px;
    height: 500px;
    padding: 50px 70px 50px;
  }
}
.modal .modal__text {
  font-size: 18px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .modal .modal__text {
    font-size: 24px;
  }
}
.modal .modal__form {
  margin: auto;
  font-size: 18px;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .modal .modal__form {
    font-size: 24px;
  }
}
@media (min-width: 775px) {
  .modal .modal__form {
    width: 470px;
  }
}
.modal .modal__button {
  margin-right: auto;
  margin-left: auto;
}
.modal .modal-close {
  position: absolute;
  z-index: 8040;
  top: 15px;
  right: 15px;
  width: 27px;
  height: 27px;
  cursor: pointer;
  background-position: -200px 0;
  background-color: #fff;
  border-radius: 50%;
}
.lt-ie9 h2 {
  font-size: 50px;
}
.lt-ie9 .header-title__line2 {
  font-size: 60px;
}
.lt-ie9 .header-title__line3 {
  font-size: 60px;
}
.lt-ie9 .diagnostic__subtitle {
  font-size: 55px;
}
.lt-ie9 .advantages__name {
  font-size: 30px;
}
.header {
  height: 625px;
  background: url("/images/header-bg.jpg") 50% 0 no-repeat;
}
@media (min-width: 768px) {
  .header {
    height: 734px;
  }
}
.header__logo {
  margin-top: 60px;
  width: 290px;
  height: 65px;
  background-image: url("/images/main_logo.png");
  background-size: 290px 65px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media (min-width: 576px) {
  .header__logo {
    margin-top: 90px;
    float: left;
  }
}
.header__phone {
  margin-top: 15px;
}
@media (min-width: 576px) {
  .header__phone {
    margin-top: 80px;
    float: right;
  }
}
.header__phone-number {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 40px;
  letter-spacing: 1px;
}
.header__title {
  position: relative;
}
@media (min-width: 576px) {
  .header__title {
    margin-top: 230px;
  }
}
.header__title:before {
  display: none;
  position: absolute;
  vertical-align: baseline;
  bottom: -235px;
  left: 521px;
  width: 235px;
  height: 234px;
  background-position: -300px 0;
  content: '';
  background-image: url("/images/icons.png");
}
@media (min-width: 995px) {
  .header__title:before {
    display: block;
  }
}
.header-title__line1 {
  font-size: 28px;
  font-weight: 700;
  display: block;
  padding: 0 3px;
  color: #fff;
  background: #242733;
}
@media (min-width: 768px) {
  .header-title__line1 {
    background: none;
    padding: 0;
  }
}
.header-title__line2 {
  font-size: 28px;
  display: block;
  padding: 0 3px;
  color: #242733;
  background: #ffd500;
  margin-top: 3px;
}
@media (min-width: 768px) {
  .header-title__line2 {
    font-size: 50px;
    font-weight: 900;
    line-height: 1;
  }
}
.header-title__line3 {
  font-size: 28px;
  display: block;
  margin-top: 3px;
  padding: 0 3px;
  color: #fff;
  background: #242733;
}
@media (min-width: 768px) {
  .header-title__line3 {
    font-size: 50px;
    font-weight: 900;
    line-height: 1;
  }
}
.header__text {
  font-size: 18px;
  display: inline-block;
  margin-bottom: 30px;
  padding: 4px 8px;
  color: #fff;
  background: #242733;
}
@media (min-width: 768px) {
  .header__text {
    font-size: 24px;
  }
}
.which__title {
  text-align: center;
}
@media (min-width: 576px) {
  .which__title {
    text-align: left;
  }
}
.which__list {
  font-size: 18px;
}
.which__list ul li {
  margin-bottom: 15px;
}
@media (min-width: 576px) {
  .which__list ul li {
    margin-bottom: 25px;
  }
}
@media (min-width: 576px) {
  .which__list ul {
    padding-left: 60px;
  }
}
@media (min-width: 576px) {
  .which__list {
    font-size: 24px;
  }
}
.header__button {
  width: 100%;
}
@media (min-width: 576px) {
  .header__button {
    width: 310px;
  }
}
.logo--white {
  color: #fff;
}
.logo--white:before {
  background-position: -50px 0;
}
.which {
  padding-bottom: 40px;
}
.which__manufacturers {
  margin-bottom: 15px;
}
@media (min-width: 775px) {
  .which__manufacturers {
    margin-bottom: 35px;
  }
}
.manufacturers__title {
  position: relative;
  margin-bottom: 25px;
  margin-left: 20px;
  padding: 2px 10px;
  background: #f6f6f6;
}
.manufacturers__title:before {
  position: absolute;
  top: 0;
  left: -20px;
  width: 5px;
  height: 100%;
  content: '';
  background: #241a01;
}
.clients__list {
  margin-top: 10px;
}
.clients__list,
.manufacturers__images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.clients__list img,
.manufacturers__images img {
  margin: 5px 10px 5px 10px;
}
@media (min-width: 955px) {
  .clients__list img,
  .manufacturers__images img {
    margin: 0;
  }
}
.consultation {
  height: 625px;
  background: url("/images/consultation-bg.jpg") 50% -7% no-repeat;
}
@media (min-width: 768px) {
  .consultation {
    height: 730px;
    background: url("/images/consultation-bg.jpg") 50% 100% no-repeat;
  }
}
.consultation__form {
  width: 100%;
}
@media (min-width: 575px) {
  .consultation__form {
    width: 575px;
  }
}
.consultation__form .success__message {
  color: #fff;
  background-color: #242733;
  padding: 4px 8px;
  font-size: 18px;
  line-height: 20px;
  box-sizing: border-box;
}
@media (min-width: 575px) {
  .consultation__form .success__message {
    width: 575px;
    font-size: 24px;
  }
}
.consultation__up {
  display: block;
  width: 56px;
  height: 56px;
  margin: 10px auto 0;
  text-indent: -9999px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.1);
  background-position: -100px 0;
}
.consultation__up:hover {
  background-color: rgba(255,255,255,0.3);
}
.color_wrapper {
  background-color: #242733;
}
.fixed-nav {
  position: fixed;
  width: 100%;
  z-index: 99;
}
.nav-logo {
  height: 100%;
  width: 50px;
  margin-left: 15px;
  background-image: url("/images/logo.png");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #242733;
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 50px;
  width: 100%;
}
@media (min-width: 960px) {
  .top-nav {
    width: 960px;
    margin: auto;
  }
}
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  margin-right: 15px;
  padding: 0;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
#menu-toggle {
  display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
  content: '';
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu-button::before {
  margin-top: -8px;
}
.menu-button::after {
  margin-top: 8px;
}
.menu__href {
  display: block;
  text-decoration: none;
  height: 52px;
  padding: 0 7px;
  line-height: 50px;
  color: #fff;
  transition: all 0.2s ease 0s;
  vertical-align: middle;
}
.menu__href:not(.active):hover {
  opacity: 1;
  -webkit-box-shadow: 0 0 15px #ccc;
  -moz-box-shadow: 0 0 15px #ccc;
  box-shadow: 0 0 15px #ccc;
}
.menu__href.active {
  color: #ffd500;
}
.dropdown {
  visibility: hidden;
  background: #242733;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: -1px;
  left: 0;
  display: none;
  padding-left: 1px;
  padding-right: 1px;
  width: 310px;
  font-size: 16px;
}
.menu li:hover > ul,
.menu li:focus-within > ul,
.menu li ul:hover,
.menu li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}
.dropdown li {
  clear: both;
  width: 300px;
  list-style: none;
  text-decoration: none;
  margin-left: 5px;
  float: left;
}
.dropdown li a {
  height: 30px !important;
  line-height: 30px !important;
}
.drop-container {
  position: relative;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0;
  transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255,255,255,0);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0;
  transform: rotate(-405deg);
}
@media (max-width: 950px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle ~ .menu li a {
    display: none;
    width: 100%;
    text-align: center;
  }
  .menu__href {
    height: 49px;
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    height: 50px;
    z-index: 1;
  }
  #menu-toggle:checked ~ .menu li a {
    display: block;
  }
  .sub-menu-toggle {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 75px;
    height: 50px;
  }
  .sub-menu-toggle:before,
  .sub-menu-toggle:after {
    content: '';
    background-color: #fff;
    height: 3px;
    width: 15px;
    border-radius: 2px;
  }
  .sub-control-visible:before,
  .sub-control-visible:after {
    display: block;
  }
  .sub-menu-toggle::before {
    transform: rotate(310deg);
    margin-left: 15px;
    margin-top: 25px;
  }
  .sub-menu-toggle::after {
    transform: rotate(-310deg);
    margin-left: 7px;
    margin-top: -3px;
  }
  .sub-control-open::before {
    transform: rotate(405deg);
    margin-top: 25px;
  }
  .sub-control-open::after {
    transform: rotate(-405deg);
    margin-top: -3px;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #fff;
    background-color: #242733;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .dropdown {
    display: none;
    visibility: unset;
    opacity: 1;
    margin-top: 50px;
    background: #242733;
    width: 100%;
  }
  .dropdown li {
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    width: 100%;
    transition: none !important;
    display: none;
  }
  .my-node-enter-done li {
    display: block;
  }
  .dropdown-open {
    height: 500px !important;
  }
  .menu-dropdown-open {
    height: calc(100vh - 50px);
    overflow-y: scroll;
    display: block;
  }
  .my-node-enter-done li {
    border: 1px solid #333 !important;
    height: 33px !important;
  }
  .sub-control-visible {
    display: block;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  background: #242733;
}
@media (min-width: 960px) {
  .footer {
    width: 960px;
    margin: auto;
  }
}
.footer__logo {
  width: 300px;
  margin-top: 20px;
}
.footer__logo .logo {
  font-size: 24px;
}
.cp {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 575px) {
  .cp {
    margin-bottom: 20px;
  }
}
.footer__phone {
  width: 210px;
  margin-bottom: 20px;
}
@media (min-width: 575px) {
  .footer__phone {
    margin-top: 20px;
    margin-bottom: 0;
  }
}
.social {
  width: 50px;
  height: 50px;
  background-color: #fff;
  background-image: url("/images/social.png");
  background-position: -100px -50px;
}
.prices__hr {
  height: 4px;
  border: none;
  background: #f0f0f0;
}
.prices__table {
  margin-bottom: 70px;
}
.--title {
  font-weight: 600;
  border-bottom: 2px solid #f7f7f7;
}
.price__tr {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #f7f7f7;
  padding-top: 5px;
  font-size: 18px;
  padding-bottom: 5px;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .price__tr {
    font-size: 24px;
  }
}
.price__tr div:first-child {
  width: 80%;
}
.price__tr div:last-child {
  width: 20%;
}
.prices__table th {
  font-weight: 100;
  padding: 15px 60px;
  text-align: left;
  border-bottom: 2px solid #f7f7f7;
}
.prices__order {
  margin-bottom: 75px;
}
.prices__text {
  margin-bottom: 30px;
  padding-top: 10px;
  font-size: 18px;
  padding-bottom: 5px;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .prices__text {
    font-size: 24px;
  }
}
.prices-order {
  overflow: hidden;
  padding: 13px 40px 13px 60px;
  color: #fff;
  background: #242733;
}
.prices-order__text {
  float: left;
  font-size: 18px;
  padding-bottom: 5px;
  line-height: 1.4;
  width: 100%;
}
@media (min-width: 768px) {
  .prices-order__text {
    width: 400px;
    font-size: 24px;
  }
}
.prices-order__text p {
  margin: 0;
}
.prices-order__button {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .prices-order__button {
    float: right;
    width: 192px;
    margin-top: 15px;
  }
}
.prices__quotient {
  text-align: center;
  margin-bottom: 0;
  font-family: sans-serif;
}
.what {
  padding-bottom: 60px;
  color: #fff;
  background: url("/images/what-bg.jpg") 0 0 repeat;
}
.what__title {
  margin-top: 60px;
}
.what__text {
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .what__text {
    font-size: 24px;
  }
}
.for {
  padding: 20px 0 20px;
  background: #ffd500;
}
.for__text {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .for__text {
    font-size: 24px;
  }
}
.for__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
}
.for__item {
  font-size: 18px;
  line-height: 1;
  display: inline-block;
  width: 180px;
  height: 180px;
  text-align: center;
  vertical-align: top;
  text-transform: uppercase;
  border: 5px solid #242733;
  border-radius: 15px;
}
.for__item:before {
  display: block;
  content: "";
  vertical-align: top;
  background: url("/images/icons.png");
  width: 100px;
  height: 100px;
  margin: 10px auto 0;
}
.for__item--1:before {
  background-position: 0 -50px;
}
.for__item--2:before {
  background-position: -100px -50px;
}
.for__item--3:before {
  background-position: -200px -50px;
}
.for__item--4:before {
  background-position: 0 -150px;
}
.for__item--5:before {
  background-position: -100px -150px;
}
.advantages__title {
  font-size: 56px;
  text-align: center;
}
.advantages__uptitle {
  font-size: 105px;
  display: inline-block;
  height: 70px;
  margin-bottom: 40px;
  padding: 15px 20px;
  color: #fff;
  background: #242733;
}
.advantages__item {
  height: 284px;
  padding: 10px 0;
}
@media (min-width: 575px) {
  .advantages__item {
    height: 200px;
  }
}
@media (min-width: 825px) {
  .advantages__item {
    height: 284px;
    float: left;
    width: 50%;
  }
}
.advantages__item--grey-right,
.advantages__item--grey-left {
  color: #fff;
  background: #242733;
  padding-left: 20px;
}
@media (min-width: 825px) {
  .advantages__item--grey-right,
  .advantages__item--grey-left {
    padding: 0;
    border-bottom: none;
  }
}
.advantages__item--white-right,
.advantages__item--white-left {
  position: relative;
  padding-left: 20px;
}
@media (min-width: 825px) {
  .advantages__item--white-right,
  .advantages__item--white-left {
    padding: 0;
  }
}
.advantages__item--white-right:after {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 284px solid #242733;
  top: 0;
  left: 0;
  border-right: 150px solid transparent;
}
@media (min-width: 825px) {
  .advantages__item--white-right:after {
    content: '';
  }
}
.advantages__item--white-left:after {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 284px solid #242733;
  top: 0;
  right: 0;
  border-left: 150px solid transparent;
}
@media (min-width: 825px) {
  .advantages__item--white-left:after {
    content: '';
  }
}
.advantages__content {
  width: 90%;
}
@media (min-width: 825px) {
  .advantages__content {
    width: 300px;
  }
}
@media (min-width: 995px) {
  .advantages__content {
    width: 360px;
  }
}
.advantages__content--right {
  margin-right: 110px;
}
@media (min-width: 825px) {
  .advantages__content--right {
    margin-right: 152px;
    float: right;
  }
}
.advantages__content--left {
  margin-left: 0;
}
@media (min-width: 825px) {
  .advantages__content--left {
    float: left;
    margin-left: 152px;
  }
}
.advantages__name {
  font-size: 28px;
  font-weight: 100;
  margin-bottom: 20px;
}
@media (min-width: 995px) {
  .advantages__name {
    font-size: 36px;
  }
}
.advantages__text {
  font-size: 18px;
  line-height: 1.4;
  line-height: 23px;
}
@media (min-width: 768px) {
  .advantages__text {
    font-size: 24px;
  }
}
.guarantee {
  padding-bottom: 20px;
  color: #fff;
  background: #242733;
}
.guarantee__title {
  font-size: 45px;
  line-height: 1;
  margin-top: 60px;
  margin-bottom: 24px;
  padding-left: 20px;
}
.guarantee__uptitle {
  font-size: 60px;
  line-height: 40px;
  display: inline-block;
  height: 40px;
  margin-left: -20px;
  padding: 10px 20px;
  color: #242733;
  background: #ffd500;
}
.guarantee__text {
  margin-left: 20px;
}
.guarantee__text p {
  padding-bottom: 10px;
}
.clients_title {
  margin-top: 60px;
  margin-bottom: 60px;
}
.job__my {
  margin-right: 60px;
}
.job__image_jpeg {
  border: 4px solid #fff;
}
.jobs__subtitle {
  font-size: 48px;
  display: block;
  margin-top: -9px;
  padding: 8px 0 8px 25px;
  background: #ffd500;
}
.jobs__item {
  margin-bottom: 30px;
}
.jobs__half {
  display: inline-block;
  width: 50%;
  text-align: left;
  vertical-align: top;
}
.job__title {
  font-weight: 600;
  position: relative;
  margin: 0 0 30px 0;
  padding: 4px 4px;
  color: #fff;
  background: #242733;
  font-size: 20px;
}
@media (min-width: 768px) {
  .job__title {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .response__img {
    width: 100%;
  }
}
.job__subtitle {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  padding: 0 20px;
}
.job__text {
  margin-bottom: 30px;
  padding: 0;
  font-size: 18px;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .job__text {
    font-size: 24px;
  }
}
.job__image {
  display: inline-block;
  width: 100%;
}
@media (min-width: 768px) {
  .job__image {
    width: auto;
  }
}
.job__images_wrapper {
  position: relative;
  display: inline-block;
  margin-top: 15px;
}
.job__images_wrapper:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.7), inset 0 2px 0 rgba(255,255,255,0.3), inset 0 -1px 0 rgba(0,0,0,0.5), 0 1px 3px rgba(0,0,0,0.4);
}
.job__images_wrapper:after {
  position: absolute;
  content: ' ';
  width: 60px;
  height: 25px;
  top: -10px;
  left: 50%;
  margin-left: -30px;
  border: solid 1px rgba(137,130,48,0.2);
  background: linear-gradient(top, rgba(255,213,0,0.6) 0%, rgba(240,224,54,0.6) 100%);
  background: -moz-linear-gradient(top, rgba(255,213,0,0.6) 0%, rgba(240,224,54,0.6) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,213,0,0.6)), color-stop(100%, rgba(255,213,0,0.6)));
}
.--margin {
  margin-top: 5px;
}
.--with-height {
  height: 168px;
}
@media (min-width: 768px) {
  .--with-height {
    height: 122px;
  }
}
@media (min-width: 956px) {
  .last_image {
    margin-left: 25px;
  }
}
@media (min-width: 956px) {
  .last_image img {
    width: 434px;
  }
}
.last_image_half {
  display: block;
  width: 100%;
}
@media (min-width: 956px) {
  .last_image_half {
    width: 50%;
    display: inline-block;
  }
}
.pre_last_image_half {
  width: 100%;
}
@media (min-width: 956px) {
  .pre_last_image_half {
    width: 50%;
  }
}
.--ipad {
  width: 100%;
}
.not_found {
  height: calc(100vh - 145px);
}
@media (min-width: 529px) {
  .not_found {
    height: calc(100vh - 108px);
  }
}
.not_found__number {
  margin: 125px auto 0 auto;
  width: 170px;
  font-size: 100px;
  height: 100px;
}
@media (min-width: 768px) {
  .not_found__number {
    width: 357px;
    font-size: 200px;
    height: 200px;
  }
}
.not_found__text {
  width: 300px;
  font-size: 27px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .not_found__text {
    width: 540px;
    font-size: 50px;
  }
}
.-main-link {
  display: block;
  width: 300px;
  margin: 0 auto;
}
@media (min-width: 775px) {
  .contacts_layout {
    height: calc(100vh - 108px);
  }
}
.contacts_wrapper {
  display: flex;
  flex-wrap: wrap;
}
.map_wrapper {
  min-height: 320px;
  margin-left: -10px;
}
@media (min-width: 340px) {
  .map_wrapper {
    margin-left: 0;
  }
}
@media (min-width: 775px) {
  .map_wrapper {
    margin-left: 20px;
  }
}
.sub_service_image {
  width: 100%;
  margin-top: 0;
}
.design-img {
  height: 250px;
}
@media (min-width: 450px) {
  .design-img {
    height: 440px;
  }
}
.block-content {
  word-wrap: break-word;
}
.for__item:before {
  display: inline-block;
  content: '';
  background-image: url("/images/icons.png");
}
.consultation__up,
.modal-close {
  display: inline-block;
  content: '';
  vertical-align: top;
  background: url("/images/icons.png");
}
.list,
.how__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.jobs__line:after,
.job__images:after {
  display: inline-block;
  width: 100%;
  height: 0;
  content: '';
}
html {
  font-family: 'webAgoraSansPro', sans-serif;
  font-size: 24px;
  font-weight: 100;
  color: #242733;
}
.l-clearfix:before,
.list:before,
.menu:before,
.how__list:before,
.l-wrap:before,
.jobs__item:before,
.advantages__line:before {
  display: table;
  content: ' ';
}
.l-clearfix:after,
.list:after,
.menu:after,
.how__list:after,
.l-wrap:after,
.jobs__item:after,
.advantages__line:after {
  display: table;
  content: ' ';
  clear: both;
}
.l-wrap {
  margin: auto;
  padding: 0 10px;
}
@media screen and (min-width: 960px) {
  .l-wrap {
    width: 960px;
  }
}
.l-hidden {
  display: none;
}
h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 775px) {
  h2 {
    font-size: 45px;
    line-height: 72px;
  }
}
.list__item {
  line-height: 1.5;
  position: relative;
  margin-bottom: 25px;
  padding-left: 40px;
  font-size: 18px;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .list__item {
    font-size: 24px;
  }
}
.list__item:before {
  position: absolute;
  top: 10px;
  left: 0;
  display: inline-block;
  width: 12px;
  height: 12px;
  content: '';
  border-radius: 50%;
  background: #e9e9ea;
}
.list--yellow .list__item:before {
  background: #ffd500;
}
.list--dark .list__item:before {
  background: #242733;
}
