.ReactModal__Content--after-open
  width: 790px
  margin 25px auto
  padding 0 !important
  height 620px

.modal
  width 790px
  height 620px
  padding 50px 70px 50px
  text-align center
  color #fff
  background #242733
  box-sizing border-box
  .modal__text
    font-size: 30px
    margin-bottom: 30px
  .modal__form
    width: 470px
    margin: auto
  .modal__button
    margin-right: auto
    margin-left: auto
  .modal-close 
    position: absolute
    z-index: 8040
    top: 15px
    right: 15px
    width: 27px
    height: 27px
    cursor: pointer
    background-position: -200px 0