.contacts_layout
  @media (min-width: 775px)
    height calc(100vh - 72px)

.contacts_wrapper
  display flex
  flex-wrap wrap

.map_wrapper
  min-height 320px
  margin-left -10px
  @media (min-width: 340px)
    margin-left 0
  @media (min-width: 775px)
    margin-left 20px
