.prices__hr {
  height: 4px;
  border: none;
  background: #f0f0f0;
}

.prices__table {
  margin-bottom: 70px;
}

.--title
  font-weight: 600;
  border-bottom: 2px solid #f7f7f7;

.price__tr
  display flex
  flex-wrap wrap
  border-bottom: 2px solid #f7f7f7;
  padding-top 5px;
  font-size: 18px;
  padding-bottom 5px;
  line-height: 1.4;
  @media (min-width: 768px)
    font-size: 24px;


.price__tr div:first-child
  width 80%

.price__tr div:last-child
  width 20%

.prices__table th {
  font-weight: 100;
  padding: 15px 60px;
  text-align: left;
  border-bottom: 2px solid #f7f7f7;
}


.prices__order {
  margin-bottom: 75px;
}

.prices__text
  margin-bottom: 30px;
  padding-top: 10px;
  font-size: 18px;
  padding-bottom 5px;
  line-height: 1.4;
  @media (min-width: 768px)
    font-size: 24px;


.prices-order {
  overflow: hidden;
  padding: 13px 40px 13px 60px;
  color: #fff;
  background: #242733;
}

.prices-order__text
  float: left;
  font-size: 18px;
  padding-bottom 5px;
  line-height: 1.4;
  width 100%
  @media (min-width: 768px)
    width: 400px;
    font-size: 24px;


.prices-order__text p {
  margin 0;
}

.prices-order__button
  margin 0 auto;
  @media (min-width: 768px)
    float: right;
    width: 192px;
    margin-top: 15px;


.prices__quotient {
  text-align center
  margin-bottom 0
  font-family sans-serif
}
