.prices__hr {
  height: 4px;
  border: none;
  background: #f0f0f0;
}
.prices__tab {
  display: inline-block;
  margin-bottom: 15px;
  padding-bottom: 6px;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px dashed #242733;
}
.prices__tab:first-child {
  margin-right: 226px;
}
.prices__tab--active,
.prices__tab:hover {
  padding-bottom: 7px;
  border-bottom: none;
}
.prices__table {
  margin-bottom: 70px;
}
.prices__table th {
  font-weight: 100;
  padding: 15px 60px;
  text-align: left;
  border-bottom: 2px solid #f7f7f7;
}
.prices__table td {
  padding: 15px 60px;
}
.prices__order {
  margin-bottom: 75px;
}
.prices__text {
  margin-bottom: 30px;
  padding-top: 10px;
}
.prices__list {
  margin-bottom: 50px;
}
.prices-order {
  overflow: hidden;
  padding: 13px 40px 13px 60px;
  color: #fff;
  background: #242733;
}
.prices-order__text {
  float: left;
  width: 540px;
}
.prices-order__text p {
  margin: 0;
}
.prices-order__button {
  float: right;
  width: 192px;
  margin-top: 15px;
}
.prices__quotient {
  text-align: center;
  margin-bottom: 0;
  font-family: sans-serif;
}
