@import "../../../StylusCSS/colors"

.color_wrapper
  background-color main-color

.fixed-nav
  position fixed
  width 100%
  z-index 99

.nav-logo
  height 100%
  width 50px
  margin-left: 15px
  background-image: url(/images/logo.png);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: 0 0;


.top-nav
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: main-color;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height 50px
  width 100%
  @media (min-width: 960px)
    width 960px
    margin auto

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  margin-right: 15px;
  padding: 0;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  content: '';
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  margin-top: -8px;
}

.menu-button::after {
  margin-top: 8px;
}

.menu__href
  display: block;
  text-decoration: none;
  height: 52px;
  padding: 0 7px;
  line-height: 50px;
  color: #fff;
  transition: all .2s ease 0s;
  vertical-align: middle;

  &:not(.active)
    &:hover
      opacity: 1;
      -webkit-box-shadow: 0 0 15px #cccccc
      -moz-box-shadow: 0 0 15px #cccccc;
      box-shadow: 0 0 15px #cccccc;

.menu__href.active
  color: color-yellow;

.dropdown
  visibility: hidden;
  background #242733
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: -1px;
  left: 0;
  display: none;
  padding-left: 1px
  padding-right: 1px
  width: 310px;
  font-size: 16px;


.menu li:hover > ul,
.menu li:focus-within > ul,
.menu li ul:hover,
.menu li ul:focus
  visibility: visible;
  opacity: 1;
  display: block;

.dropdown li
  clear: both;
  width: 300px;
  list-style none
  text-decoration: none
  margin-left 5px
  float: left;

.dropdown li a
  height: 30px !important;
  line-height: 30px !important;

.drop-container
  position relative


#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0;
  transform: rotate(-405deg);
}

@media (max-width: 950px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle ~ .menu li a {
    display: none
    width: 100%;
    text-align: center;
  }

  .menu__href {
    height: 49px;
  }

  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    height 50px
    z-index 1
  }

  #menu-toggle:checked ~ .menu li a {
    display: block
  }

  .sub-menu-toggle {
    position: absolute;
    right: 23px
    top: 23px
    width 30px
    height 30px
  }

  .sub-menu-toggle:before,
  .sub-menu-toggle:after {
    content: '';
    background-color: #fff;
    height: 3px;
    width: 15px;
    border-radius: 2px;
  }
  .sub-control-visible:before,
  .sub-control-visible:after {
    display block
  }

  .sub-menu-toggle::before {
    transform: rotate(310deg);
    margin-left 8px
    margin-top 2px
  }

  .sub-menu-toggle::after {
    transform: rotate(-310deg);
    margin-top -3px
  }

  .sub-control-open::before {
    transform: rotate(405deg);
    margin-top 0
  }

  .sub-control-open::after {
    transform: rotate(-405deg);
    margin-top: -3px;
  }

  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: main-color;
  }

  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .dropdown {
    display none
    visibility unset
    opacity 1
    margin-top: 50px;
    background #242733
    width 100%
  }

  .dropdown li {
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    width 100%
    transition none !important
    display none
  }

  .my-node-enter-done li {
    display block
  }

  .dropdown-open {
    height 500px !important
  }

  .menu-dropdown-open {
    height calc(100vh - 50px)
    overflow-y scroll
    display block
  }

  .my-node-enter-done li {
    border: 1px solid #333 !important;
    height 33px !important
  }

  .sub-control-visible {
    display block
  }
}
