.not_found
  height calc(100vh - 175px)
  @media (min-width: 529px)
    height calc(100vh - 72px)

.not_found__number
  margin: 125px auto 0 auto
  width 170px
  font-size: 100px
  height: 100px
  @media (min-width: 768px)
    width: 357px
    font-size: 200px
    height: 200px

.not_found__text
  width 300px
  font-size: 27px
  margin 0 auto
  @media (min-width: 768px)
    width: 540px
    font-size: 50px

.-main-link
  display block
  width 300px
  margin 0 auto
